body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    text-align: center;
}

header {
    background: #0066ff;
    color: white;
    padding: 30px;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background: #0066ff;
    color: white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background: #0044bb;
}